@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: rgb(114, 114, 114); */
  /* background-color: white; */

  font-family: "Oxygen", sans-serif;
}
body {
  background-color: black;
}
.window-size {
  width: 100%;
  /* background-color: wheat;
   */
 background-color: white;

  height: 100%;
  z-index: 0;


}
@keyframes reduce_opacity_to_zero {
  100%{
    opacity: 0;
  }
  
}
@keyframes reduce_dimention_to_zero {
  100%{
    height: 0px;
    width: 0px;
  }
  
}

@keyframes rotate_coding_container {
  100%{
      transform: rotate(360deg);
      height: 0px;
      width: 0px;
      
  }
  
}

/* ******************************* */

#loader_container .background_container {
  width: 100%;
  height: 100vh;
  background-color: rgb(26, 24, 24);
  display: flex;
  align-items: center;
  /* align-items: center; */
  position: fixed;
  flex-direction: column;
  z-index: 50;
  /* display: none; */

}

#loader_container .profile_image_container {
  height: 200px;
  width: 200px;
  /* background-color: aliceblue; */
  position: absolute;

  border-radius: 50%;

  top: 15%;

  background: url("./images/Mayank\ Garg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 50%;
}

#loader_container .coding_media_handle_container {
  height: 70px;
  width: 260px;
  /* background-color: white; */
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
@keyframes rotate_image_little {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(0deg);
  }
}

#loader_container .coding_media_handle_container img {
  height: 100%;
  width: 100%;
  max-height: 40px;
  max-width: 40px;
  border-radius: 50%;
  margin: auto auto;
  /* background-color: red; */
  margin: 2px;
  animation-name: rotate_image_little;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  box-shadow: 3px 3px 3px grey;
  filter: invert(1);
}

#loader_container #leetcode_img{
  animation-delay: 0.2s;
}
#loader_container #codeforces_id{
  animation-delay: 0.4s;
}
#loader_container #linkedin_id{
  animation-delay: 0.6s;
}
#loader_container  #github_id{
  animation-delay: 0.8s;
}








@keyframes rotate_profile_background_container {
  100% {
    transform: rotate(360deg);
  }
}
#loader_container .profile_background_container {
  height: 202px;
  width: 210px;
  /* background-color: red; */
  background: linear-gradient(#e66465, #9198e5);
  /* transition: transform 1s; */
  animation: rotate_profile_background_container 1s infinite;

  position: absolute;
  border-radius: 50%;
  top: 15%;
}

/* ******************************* */
@keyframes move_drone {
  0%{
    top: 20%;
    left: 2%;
  }
  10%{
    top: 60%;
    left: 2%;

  }
  40%{
    top: 20%;
    left: 90%;
  }
  60%{
    top: 60%;
    left: 90%;
  }
  80%{
    top: 90%;
    left: 0%;
  }
  100%{
    top: 20%;
    left: 2%;

  }
}
#drone_container {
  height: 100px;
  width: 100px;
  /* background-color: azure; */
  position: fixed;
  transition: top 2s;
  animation: move_drone 10s   infinite  alternate;
  /* z-index: 4; */
  z-index: 51 ;
  filter: invert(1);


 


}

@keyframes rorate_wings {
  100% {
    transform: rotateY(360deg);
  }
}

#drone_container .body_container {
  height: 90%;
  width: 90%;
  /* background-color: aquamarine; */
  margin: auto auto;
  position: relative;
}
@keyframes change_color_of_eye {
  0% {
    top: 42%;
  }
  15% {
    top: 38%;
    height: 0%;
  }
  30% {
    top: 42%;
    height: 8%;
  }
}
#drone_container .eye_container {
  height: 8%;
  width: 8%;
  position: absolute;

  top: 42%;
  left: 46%;
  transition: height 2s,top 2s;
  animation: change_color_of_eye 5s infinite;

  /* background-color: red; */
}

#drone_container .eye_container img {
  height: 100%;
  width: 100%;
}

#drone_container .left_wing_container {
  height: 15%;
  width: 42%;
  /* background-color: red; */
  position: absolute;
  margin: 1px;

  top: 11%;
  left: 2%;
}
#drone_container .left_wing_container img {
  /* height: 100%; */
  width: 100%;
  animation: rorate_wings 0.1s infinite;
}
#drone_container .right_wing_container {
  height: 15%;
  width: 42%;
  /* background-color: blue; */
  position: absolute;
  margin: 1px;

  top: 11%;
  left: 55%;
}
#drone_container .right_wing_container img {
  /* height: 100%; */
  width: 100%;
  animation: rorate_wings 0.1s infinite;
}

#drone_container .body_container img {
  height: 100%;
}
.social_media_handels {
  position: fixed;
  background-color: rgb(231, 233, 242);
  /* background-color: black; */
  height: 300px;
  width: 50px;
  z-index: 30;
  margin: 2px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  left: 95%;
  top: 30%;
  border-radius: 30px;
  overflow: hidden;
  padding: 3px;
  transition: top 1s, left 1s, height 0.2s, width 0.2s;
}


.social_media_handels img {
  height: 100%;
  width: 100%;
  max-height: 30px;
  max-width: 30px;
  border-radius: 50%;
  margin: auto auto;

  box-shadow: 0px 0px 8px rgba(62, 72, 134, 0.534);
  /* box-shadow: 0px 0px 8px rgba(62, 72, 134, 0.534) ; */
}
@keyframes rotate_image_little {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.social_media_handels a :hover {
  /* transition: transform 0.5s; */

  /* transform: rotate(-30deg);
   */
  animation-name: rotate_image_little;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  box-shadow: 0px 0px 8px black;
}

#background_for_slider{
  background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5));
  /* background-color: red; */
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 19;
  display: none;


}




#upper_nav {
  height: 75px;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 22;
  color: white;
  display: flex;
  align-items: center;
  font-size: 30px;
  padding-left: 20px;
}
#upper_nav #hanburger_container {
  height: 35px;
  width: 54px;
  margin: 5px;
  display: none;
  cursor: pointer;
}
#upper_nav #hanburger_container img {
  height: 100%;
  width: 100%;
  filter: invert(100%);
}

.temp_upper_nav {
  height: 75px;
  width: 100%;
  background-color: black;
}
#parent_container {
  /* background-color: aqua; */
  height: 5000px;
  width: 98%;
  max-width: 1100px;
  margin: 2px auto;
  display: grid;
  grid-template-columns: 275px auto;
  grid-column-gap: 1px;
}

#parent_container .section_heading {
  text-transform: capitalize;
  background-color: #656f97;
  color: white;
  padding-left: 2px;
  font-size: 37px;
  font-weight: 500;
  font-style: italic;
  border-radius: 3px;
  text-align: center;
}


#parent_container .section_property{

  margin: 8px 2px;
  border: 1px dashed #656f97;
  border-radius: 4px;
  padding: 2px;
  background-color: white;
  /* box-shadow: 6px 1px 5px rgb(0,0,0,0.2); */

}
#parent_container .section_property:hover{

 
  box-shadow: 0px 0px 25px rgb(0,0,0,0.5);

}

/* ***************************** */
#parent_container #sidebar {
  /* background-color: inherit;
   */
  background-color: rgb(242, 243, 247);
  /* border: 4px solid red; */
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: auto;
  transition: display 5s;
  z-index: 20 ;
  left: 0;
}

#parent_container #sidebar .img_container {
  height: 260px;
  width: 250px;
  /* background-color: beige; */
  margin: 100px auto 10px auto;
}
#parent_container #sidebar .img_container figure {
  height: 99%;
  width: 97%;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  /* background-color: bisque; */
}
/* #parent_container .sidebar .img_container figcaption{
  margin: 2px;
} */
#parent_container #sidebar .img_container figure img {
  /* height: 100%; */
  width: 100%;
  /* background-color: aqua; */
  clip-path: circle(50% at 50% 68%);
}

#parent_container #sidebar #coding_profile{
  /* background-color: red; */
  width: 95%;
display: flex;
justify-content: space-around;
align-items: center;
border-radius: 50%;
display: none;





}
#parent_container #sidebar #coding_profile a:hover{
  
animation-name: rotate_image_little;
animation-duration: 1s;
animation-iteration-count: infinite;
/* box-shadow: 0px 0px 8px rgba(62, 72, 134, 0.8); */


}


#parent_container #sidebar #coding_profile img{
  height: 100%;
  width: 100%;
  max-height: 30px;
  max-width: 30px;
  border-radius: 50%;
  margin: auto auto;

  box-shadow: 0px 0px 8px rgba(62, 72, 134, 0.534);


  
}


#parent_container #sidebar .nav_container {
  height: 325px;
  width: 92%;
  /* background-color: beige; */
  margin: 10px auto;
  padding: 10px 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#parent_container #sidebar .nav_container .nav_items {
  /* background-color: blue; */
  width: 90%;
  height: 39px;
  margin: 3px auto;
  text-align: center;
  display: grid;
  align-items: center;

  /* cursor: pointer; */
}
#parent_container #sidebar .nav_container .nav_items a {
  /* color: white; */
  text-transform: uppercase;
  text-decoration: none;
  color: blue;
}
#parent_container #sidebar .nav_container .nav_items a:hover {
  /* text-decoration: underline;
   */
  border-bottom: 1.5px solid rgb(127, 177, 237);
}

#parent_container #sidebar .footer_container {
  height: 100px;
  width: 92%;
  /* background-color: black; */
  /* color: white; */
  margin: 10px auto;
  text-transform: capitalize;
}

/* ******************* */
#parent_container .content {
  /* background-color: wheat; */
  height: 4000px;
  z-index: 6;


}
@keyframes change_background_img {
  0% {
    background: linear-gradient(transparent, 50%, rgb(177, 183, 212)),
      url("./images/coder_img1.png");
    opacity: 1;
  }
  25% {
    /* background: linear-gradient(transparent,50%,rgb(177, 183, 212)), url("./images/coder_img1.png"); */
    opacity: 0;
    /* color: black; */
    /* background: linear-gradient(transparent,50%,rgb(177, 183, 212)), url("./images/coder_img2.png"); */
  }
  50% {
    opacity: 1;
    /* color: white; */
  }
  75% {
    opacity: 0;
    /* color: black;
    background: linear-gradient(transparent,50%,rgb(177, 183, 212)), url("./images/coder_img1.png");
     */
  }
  100% {
    opacity: 1;
    /* color: white; */
  }
}

#parent_container .content #hi {
  height: 99vh;
  width: 100%;
  background: linear-gradient(transparent, 50%, rgb(177, 183, 212)),
    url("./images/coder_img1.png");
  background-position: center;
  background-size: cover;
  border: 2px solid #a6adc8;
  border-radius: 3px;

  position: relative;
  /* animation-name: change_background_img ; */
  animation-duration: 10s;
  animation-iteration-count: 4;
  background-color: white;



}

#parent_container .content #hi .text_container {
  position: absolute;
  bottom: 1%;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 900;
  margin: auto 30px;
  /* color: white; */
}

#parent_container .content #intro {
  width: 100%;
  /* background-color: aqua; */
  padding: 5px;
  background-color: #f2f3f7;

  /* border-radius: 5px; */
  /* border: 2px solid #a6adc8; */
  /* margin: 8px 2px;
  border: 1px dashed #656f97;
  border-radius: 4px;
  padding: 2px; */
}
/* ****************************************************** */
#parent_container .content #achievements {
  width: 100%;
  /* background-color: yellowgreen; */
  height: 100px;
  margin: 5px auto;

  height: auto;

  /* margin: 8px 2px;
  border: 1px dashed #656f97;
  border-radius: 4px;
  padding: 2px; */
}
#parent_container .content #achievements .title_container {
  /* background-color: aqua; */
  height: 60px;

  padding: 5px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  background-color: rgb(168, 178, 221);
  border-radius: 5px;
  margin: 5px auto;
width: 90%;
border-radius: 40px;
}
#parent_container .content #achievements .content_container {
  /* background-color: aquamarine; */
  padding: 5px;
  background-color: #f2f3f7;
  position: relative;
}

#parent_container
  .content
  #achievements
  .kickstart_container
  .content_container {
  display: flex;
  justify-content: center;
}

#parent_container
  .content
  #achievements
  .kickstart_container
  .content_container
  img {
  /* height: 100%; */
  width: 100%;
}

#parent_container
  .content
  #achievements
  .leet_code_container
  .content_container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
  justify-content: center;
  overflow: auto;
  padding: 2px;
}
#parent_container
  .content
  #achievements
  .leet_code_container
  .content_container
  .child {
  height: 140px;
  width: 281px;
  /* background-color: red; */
  margin: 2px;
}
#parent_container
  .content
  #achievements
  .leet_code_container
  .content_container
  .child
  img {
  /* height: 100%;
   */
  width: 100%;
  height: 100%;

}
/* #parent_container
  .content
  #achievements
  .leet_code_container
  .content_container
  .child
  img:hover{
    position: absolute;
    height: 50%;
    width: 50%;

  } */

#parent_container
  .content
  #achievements
  .code_forces_container
  .content_container
  .child {
  height: auto;
  width: 90%;
  /* background-color: blue; */
  margin: 2px auto;
}
#parent_container
  .content
  #achievements
  .code_forces_container
  .content_container
  .child
  img {
  width: 100%;
  height: 100%;
}

/* ***************************************************** */

#parent_container .content #skills_and_course_work {
  width: 100%;
  /* background-color: yellowgreen; */
  height: 100px;
  margin: 5px auto;
  height: 700px;
  padding: 5px;
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 3px;
  grid-template-areas: "a b" "a c" "a d";
  align-items: center;
  /* background-color: rgb(242, 243, 247); */
  border-radius: 20px;
  margin: 8px 2px;
  /* background-color: white; */
}
#parent_container .content #skills_and_course_work .logo_container {
  /* background-color: aqua; */
  grid-area: a;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2px;
  justify-content: center;
  align-items: center;
}
#parent_container
  .content
  #skills_and_course_work
  .logo_container
  .logo_design {
  height: 35px;
  width: 35px;
  /* background-color: black; */
}
#parent_container
  .content
  #skills_and_course_work
  .logo_container
  .logo_design
  img {
  height: 100%;
  width: 100%;
}
#parent_container .content #skills_and_course_work .skill_container {
  grid-area: b;
  clip-path: polygon(100% 0, 100% 100%, 2% 100%, 2% 55%, 0 50%, 2% 45%, 2% 0);
  background-color: rgb(228, 230, 238);
  padding-left: 20px;
}
#parent_container .content #skills_and_course_work .course_work_container {
  clip-path: polygon(100% 0, 100% 100%, 2% 100%, 2% 55%, 0 50%, 2% 45%, 2% 0);
  background-color: rgb(228, 230, 238);
  padding-left: 20px;
  grid-area: c;
}
#parent_container
  .content
  #skills_and_course_work
  .positions_of_responsibility {
  clip-path: polygon(100% 0, 100% 100%, 2% 100%, 2% 55%, 0 50%, 2% 45%, 2% 0);
  background-color: rgb(228, 230, 238);
  padding-left: 20px;
  grid-area: d;
}
#parent_container .content #skills_and_course_work h2 {
  border-bottom: 1px dashed white;
}
/* ********************************************************************** */
#parent_container .content .projects {
  width: 100%;
  /* background-color: yellowgreen; */
  height: 100px;
  margin: 5px auto;
}

/* *********apply onclick function */

/* ******************************************* */

#parent_container .content #education {
  width: 100%;
  /* background-color: yellowgreen; */
  height: auto;


  /* margin: 8px 2px;
  border: 1px dashed #656f97;
  border-radius: 4px;
  padding: 2px;
  box-shadow: 6px 1px 5px rgb(0,0,0,0.2); */
}
#parent_container .content ul {
  list-style-position: inside;
}

#parent_container .content #education .title_container {
  /* background-color: blueviolet; */
  height: 40px;
  margin: 5px 5px 0px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #879be8;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
#parent_container .content #education .title_container span {
  height: 25px;
  width: 25px;
  /* background-color: black; */
  margin: auto 5px;
}
#parent_container .content #education .title_container span img {
  height: 100%;
  width: 100%;
}
#parent_container .content #education .content_container {
  margin: 0px 5px;
  padding: 0px 5px 0px 5px;
  background-color: #f2f3f7;

  border-radius: 0px 0px 8px 8px;
  transition: max-height 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  max-height: 0px;

  overflow: hidden;
}

/* ************************* */

#parent_container .content #contact_me {
  width: 100%;
  /* background-color: yellowgreen; */
  height: 700px;
  margin: 5px auto;
  display: grid;
  grid-template-rows: 80px auto;
  margin: 8px 2px;
  border: 1px dashed #656f97;
  border-radius: 4px;
}
#parent_container .content #contact_me .title {
  /* background-color: aqua; */
  width: 100%;
  padding: 5px;
  margin-bottom: 2px;
  text-transform: capitalize;
  border: 5px solid #f2f3f7;
  border-radius: 5px;
}
#parent_container .content #contact_me .title h4 {
  font-size: 20px;
  font-weight: 450;

  font-style: oblique;
}
#parent_container .content #contact_me .title h3 {
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
}

#parent_container .content #contact_me #contact_me_body {
  /* background-color: #ccc; */
  border: 2px solid #a6adc8;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  display: grid;
  grid-template-columns: auto 400px;
  grid-column-gap: 3px;
  grid-template-areas: "mail_container second_half" "location_container second_half" "phone_container second_half";
  grid-template-rows: repeat(3, minmax(70px, 1fr));
}
#parent_container .content #contact_me #contact_me_body .mail_container {
  grid-area: mail_container;
  /* background-color: red; */
}
#parent_container .content #contact_me #contact_me_body .location_container {
  grid-area: location_container;
  /* background-color: rebeccapurple; */
}
#parent_container .content #contact_me #contact_me_body .phone_container {
  grid-area: phone_container;
  /* background-color: red; */
}
/* 
#parent_container .content #contact_me #contact_me_body .first_half {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */

#parent_container .content #contact_me #contact_me_body .space_adjust {
  /* background-color:bisque; */
  height: 60px;
  min-height: 50px;
  width: 100%;
  display: grid;
  background-color: #879be869;
  border-radius: 5px;
  grid-template-columns: minmax(80px, 1fr) minmax(200px, 3fr);
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
}
#parent_container
  .content
  #contact_me
  #contact_me_body
  .space_adjust
  .img_container {
    height: 30px;
    width: 30px;
  /* background-color: aliceblue; */

  margin: 2px;
  display: flex;
  justify-content: center;
}
#parent_container
  .content
  #contact_me
  #contact_me_body
  .space_adjust
  .text_container {
  height: 58px;

  margin: 2px;
  display: flex;
  align-items: center;
}
#parent_container
  .content
  #contact_me
  #contact_me_body
  .space_adjust
  .text_container
  a:hover {
  font-size: 17px;
  font-weight: 500;
}
#parent_container
  .content
  #contact_me
  #contact_me_body
  .space_adjust
  .img_container
  img {
  height: 100%;
}
#parent_container .content #contact_me #contact_me_body .second_half {
  grid-area: second_half;
  background-color: #f2f3f7;
  text-align: center;
}
#parent_container .content #contact_me #contact_me_body .second_half label {
  /* text-decoration: underline;
   */
  font-size: 23px;
}
#parent_container
  .content
  #contact_me
  #contact_me_body
  .second_half
  input[type="text"],
#parent_container
  .content
  #contact_me
  #contact_me_body
  .second_half
  input[type="email"] {
  width: 88%;
  height: 45px;
  margin: 10px auto;
  border: none;
  padding-left: 5px;
  border-radius: 3px;
}
#parent_container
  .content
  #contact_me
  #contact_me_body
  .second_half
  input[type="text"] {
  text-transform: capitalize;
}
#parent_container .content #contact_me #contact_me_body .second_half textarea {
  width: 88%;
  margin-top: 10px auto;
  border: none;
  padding-left: 5px;
  border-radius: 3px;
}
#parent_container
  .content
  #contact_me
  #contact_me_body
  .second_half
  input[type="submit"] {
  color: white;
  background-color: rgb(127, 177, 237);
  width: 130px;
  height: 40px;
  border: none;
  margin: 20px 5px auto 27px;
  float: left;
  cursor: pointer;
}

#parent_container
  .content
  #contact_me
  #contact_me_body
  .second_half
  input[type="reset"] {
  color: white;
  background-color: rgb(127, 177, 237);
  width: 130px;
  height: 40px;
  border: none;
  margin: 20px 5px auto 27px;
  float: right;
  cursor: pointer;
}
#parent_container
  .content
  #contact_me
  #contact_me_body
  .second_half
  input[type="reset"]:hover,
#parent_container
  .content
  #contact_me
  #contact_me_body
  .second_half
  input[type="submit"]:hover {
  border-bottom: 2px solid red;
}

@media screen and (min-width: 1013px) {
  #parent_container {
    grid-template-columns: 275px auto !important;
  }
  #upper_nav #hanburger_container {
    display: none !important;
  }
  #parent_container #sidebar {
    display: block !important;
  }
  #parent_container #sidebar #coding_profile{
    display: none !important;
  }
  #upper_nav {
    /* background-color: blue; */
  }
}

@media screen and (max-width: 1012px) and (min-width: 851px) {
  .window-size {
    /* background-color: aqua; */
  }
  #parent_container .content #contact_me #contact_me_body {
    grid-template-areas: "mail_container " "location_container " "phone_container " "second_half";
    grid-template-rows: repeat(3, minmax(70px, 1fr));
    grid-template-columns: auto;
  }
  #upper_nav {
    /* background-color: red; */
  }
  #parent_container {
    grid-template-columns: auto;
  }
  #parent_container #sidebar {
    display: none;
    position: fixed;
  }
  #parent_container #sidebar #coding_profile{
    display: flex !important;
  }
  #upper_nav #hanburger_container {
    display: block;
  }
}

@media screen and (max-width: 850px) {
  #parent_container {
    grid-template-columns: auto;
  }
  #parent_container #sidebar {
    display: none;
    position: fixed;
  }
  #parent_container #sidebar #coding_profile{
    display: flex !important;
  }
  #upper_nav #hanburger_container {
    display: block;
  }
  #parent_container .content #contact_me #contact_me_body {
    grid-template-areas: "mail_container " "location_container " "phone_container " "second_half";
    grid-template-rows: repeat(3, minmax(70px, 1fr));
    grid-template-columns: auto;
  }
}

/* for media handles to move up and center */

@media screen and (max-width: 1220px) {
  #upper_nav {
    /* background-color: red; */
  }
  .social_media_handels {
    height: 45px;
    width: 300px;
    left: 40%;
    top: 2%;
    background-color: black;
  }
  .social_media_handels img {
    filter: invert(1);
    box-shadow: 0px 0px 8px;
  }
  .social_media_handels a :hover {
    box-shadow: 0px 0px 8px;
  }
}

@media screen and (max-width: 627px) {
  #upper_nav {
    /* background-color: red; */
  }
  .social_media_handels {
    display: none;
  }
}
/* 
height: 45px;
width: 300px;
left: 40%;
top: 2%; */

/* reduce text size  */

@media screen and (max-width: 545px) {

  #parent_container .content #hi .text_container{
    font-size: 20px;
  }

}
